.maxContent {
  margin: 32px;
  height: 100vh;
  width: 80vw;
}
.pageTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.subTitle {
  color: grey;
  font-size: 20px;
}
.groupField {
    display: flex;
}
.inputField {
    display: flex;
}
