.invoicePaper {
  width: 50vw;
  margin: auto;
}
.invoiceInfo {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.rowData {
  display: flex;
  font-size: 18px;
  gap: 30px;
  margin-bottom: 20px;
}

.title {
  font-weight: 600;
  width: 150px;
}

.payTo {
  display: flex;
  flex-direction: column;
}

.actionHandleInvoice {
    display: flex;
    width: 50vw;
    margin: auto;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}

.tableColumnGroupHeader {
    display: flex;
}

.tableColumnHeader {
    background-color: #EDF2F7;
    border-bottom: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    padding: 20px 10px;
    flex: 1;
    align-items: center;
    text-align: center;
    font-weight: 700;
}

.tableColumnData {
    display: flex;
    margin-bottom: 30px;
}

.tableColumnData > * {
    flex: 1;
    padding: 20px 10px;
    text-align: left;
    border-bottom: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
}
